.main {
    padding: 30px;
}

.pokeball {
    width: 200px;
}

.pokemon-details {
    margin: 100px;
    
}

a:hover{
    text-decoration: none !important;
}

tbody tr:hover{
    background: #33393f;    
}

.text-light-grey {
    color: #96a0aa !important;
}

.input-lg {
    font-size: 1.5rem !important;
  }

  .btn:active{
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}
  