.main {
    padding: 30px;
}

.pokeball {
    height: 200px;
    max-height: 100%;
    max-width: 100%;
}

.pokemon-details {
    margin: 100px;
    
}


.add-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.edit-button:hover {
    background-color: #fcc857; /* Green */
    color: white;
}

.delete-button:hover {
    background-color: #e44b4b; /* Green */
    color: white;
}

a:hover{
    text-decoration: none !important;
}

tbody tr:hover{
    background: #33393f;    
}

.text-light-grey {
    color: #96a0aa !important;
}

.input-lg {
    font-size: 1.5rem !important;
}

.btn:active{
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}

#edit-photo{
    float: right;
    position: absolute;
}

.pokemon-details {
    padding-top: 7rem !important;
}
  