{% extends "../base.html" %}
{% block style %}
{% endblock style %}
{% block content %}

<div class="main">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div id="pokemon-list">
                <img src="https://pngimg.com/uploads/pokeball/pokeball_PNG24.png" class="pokeball mx-auto d-block mb-5" alt="Responsive image">
                <div class="float-right pb-3">
                    <button id="add-button" type="button" class="btn btn-muted add-button"> <i class="fas fa-plus"></i> &nbsp; Add Pokemon </button>
                </div>
                {% include "components/pokemon_list.html" %}
            </div>

            {% include "components/create_pokemon.html" %}
            
        </div>
        <div class="col-3"></div>
    </div>
    
</div>

{% endblock content %}

{% block javascript %}
<script>
  $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
</script>
{% endblock javascript %}